/**
 * MarkdownCSS
 */

#markdownview{
  color:#E0E0E0;
  font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size:13px;
  line-height:1.5em;
  padding:1em;
  margin:auto;
  max-width:42em;
  background: transparent;
}

#markdownview h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

#markdownview h1 {
    color: #000000;
    font-size: 28px;
}
 
#markdownview h2 {
    border-bottom: 2px solid #CCCCCC;
    color: #000000;
    font-size: 24px;
}
 
#markdownview h3 {
    border-bottom: 2px solid #CCCCCC;
    font-size: 18px;
}
 
#markdownview h4 {
    font-size: 16px;
}
 
#markdownview h5 {
    font-size: 14px;
}
 
#markdownview h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px;
}
 
#markdownview hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}
 
#markdownview p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}
 
#markdownview p{
    margin:1em 0;
}
 
#markdownview pre { 
    background-color: #F8F8F8;    
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    overflow: auto;
    padding: 5px;
}
 
#markdownview pre code {
    background-color: #F8F8F8;
    border: none;    
    padding: 0;
}
 
#markdownview code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    background-color:#F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 0 0.2em;
    line-height: 1;
}
 
#markdownview pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}
 
 
#markdownview a{ color: #0645ad; text-decoration:none;}
#markdownview a:visited{ color: #0b0080; }
#markdownview a:hover{ color: #06e; }
#markdownview a:active{ color:#faa700; }
#markdownview a:focus{ outline: thin dotted; }
#markdownview a:hover, a:active{ outline: 0; }
 
#markdownview ::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
#markdownview ::selection{background:rgba(255,255,0,0.3);color:#000}
 
#markdownview a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
#markdownview a::selection{background:rgba(255,255,0,0.3);color:#0645ad}
 
#markdownview blockquote{
    color:#666666;
    margin:0;
    padding-left: 3em;
    border-left: 0.5em #EEE solid;
}
 
#markdownview ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
#markdownview li p:last-child { margin:0 }
#markdownview dd { margin: 0 0 0 2em; }
 
#markdownview img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; max-width:100%;}
 
#markdownview table { border-collapse: collapse; border-spacing: 0; }
#markdownview td { vertical-align: top; }
